# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- Practice writing Markdown
- Practice working with Jupyter notebook
- Remember topics learned in this course

Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia
- Java

Some of the commonly used libraries used by Data Scientists include:
- pandas
- Scikit-Learn
- Matplotlib
- NumPy

| Data Science Tools |
| ------------------ |
| Jupyter            |
| RStudio            |
| VSCode             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author
Oleksii Doroshenko